
// Переменные
:root {
    --color-white: #FFF;
    --color-gray-light: #EAEAEA;
    --color-gray: #999999;
    --color-accent: #3369F3;
    --color-accent-lighten: #4776ed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

// Компоненты
.button {
    font-size: 13px;
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;

    &__primary {
        color: var(--color-white);
        background-color: var(--color-accent);

        &:active {
            background-color: var(--color-accent-lighten);
        }

        &:hover {
            background-color: var(--color-accent-lighten);
        }
    }

    &__link {
        padding: 12px;
        background: transparent;
        color: var(--color-accent);

        &:active {
            color: var(--color-accent-lighten);
        }

        &:hover {
            color: var(--color-accent-lighten);
        }
    }
}

.link {
    color: var(--color-accent);
    text-decoration: none;

    &:active {
        color: var(--color-accent-lighten);
    }

    &:hover {
        color: var(--color-accent-lighten);
    }
}

.input {
    padding: 7px 0;

    input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 16px;
    }

    &-default {
        border-bottom: 2px solid var(--color-accent);

        label {
            font-size: 12px;
            color: var(--color-gray);
        }
    }

    &-form {
        border-bottom: 2px solid var(--color-gray-light);
        display: flex;
        justify-content: space-between;

        input {
            flex: 1;
            color: var(--color-gray);
            text-align: right;
        }

        label {
            flex: 1;
        }
    }
}

// Страницы
.page__auth {
    max-width: 340px;
    padding: 30px;
    margin: 135px auto 0;
    box-shadow: 1px 1px 16px #615e5e;
    border-radius: 12px;

    &__header {
        font-size: 24px;
        margin-top: 0;
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .input {
        margin-bottom: 10px;

        &::placeholder {
            color: var(--color-gray);
        }
    }
}

.page__messages {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__profile {
    display: flex;
    height: 100vh;

    &__buttons {
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FBFBFB;

        &__back {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            border: none;
            outline: none;
            background-color: var(--color-accent);
        }
    }

    &__form {
        flex: 1;
    }
}

.page__error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;
    }

    &__header {
        font-size: 40px;
        font-weight: 400;
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 70px;
    }
}